# build output
/bin/
/dist/
*.test
*.out
coverage.*

# editors and OS
.idea/
.vscode/
.DS_Store

# local env and secrets
.env
.env.*

# e2e stand
/test/e2e/.out/
/test/e2e/images/*
/test/e2e/.cache/
!/test/e2e/images/.gitkeep
